<div id="body-main">
    {{#entries}}
    <div class="dynamicElements">
        <div id="dishTitleDiv">
            <h4 style="text-align: center;" id="dishTitle">{{dish}}</h4>
        </div>
        <p>&nbsp;</p>
        <div class="card-body" id="content-body">
            <p>{{description}}</p>
            <p style="text-align: end;">{{price}}</p>
        </div>

        <div class="card-footer">
            <p>Contains: {{contains}}</p>
            {{#user}}
            <button onclick="Openform()">Update</button>

            <form action="/delete" method="POST">
                <input type="submit" name="delete" value="Delete">
            </form>
            <button>Delete</button>

            <p>&nbsp;</p>
            <p class="border-bottom"></p>
            <div id="{{_id}}" style = "display:none">
                <form action="/update" method="POST">
                    <fieldset>
                        <h3>Update Dish</h3>
                        <br>
                        <label>Dish ID: {{_id}}</label>
                        <br>
                        <input type="text" id="_id" name="_id" value={{_id}} disabled>
                        <br><br>
                        <label>Dish Name: {{dish}}</label>
                        <br>
                        <label>New Name</label>
                        <br>
                        <textarea style="width: 100%" rows = "1" cols = "60" name = "dish">{{dish}}</textarea>

                        <label>New description</label>
                        <br>
                        <textarea style="width: 100%" rows = "3" cols = "60" name = "description">{{description}}</textarea>
                        <br><br>

                        <label>New price</label>
                        <br>
                        <input type="text" id="price" name="price" value={{price}}>
                        <br><br>

                        <label>New indegrients</label>
                        <br>
                        <textarea style="width: 100%" rows = "1" cols = "60" name = "contains">{{contains}}</textarea>
                        <br><br>

                        <button type="reset">Reset</button>
                        <button type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            {{/user}}
        </div>

    </div>
    <script>
function Openform(){
  document.getElementById('{{_id}}').style.display = 'block';
}
</script>
    {{/entries}}
</div>
<hr>





{{^entries}}
No entries yet.
{{/entries}}