<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>nav}}
    <div id="body-main">
        <div id="aboutMain">
            <div id="aboutWrapper">
                <h1> About us </h1>
                <p class="border-bottom">&nbsp;</p>
                <p>This restaurant is 'insert data about this restaurant here'</p>
                <p>A small, independent restaurant prides itself on its use of fresh local produce and its constantly changing
menu and wishes to obtain a website which showcases this.</p>
                <p class="border-bottom"></p>
                <p>&nbsp;</p>
                <p>Opening Hours</p>
                <p class="border-bottom"></p>
                <p>Monday : 9:30 - 23:00 </p>
                <p>Tuesday : 9:30 - 23:00 </p>
                <p>Wednesday : 9:30 - 23:00 </p>
                <p>Thusrday : 9:30 - 23:00 </p>
                <p>Friday : 9:30 - 23:00 </p>
                <p>Saturday : 9:30 - 23:00 </p>
                <p>Sunday : 9:30 - 23:00 </p>
                <p class="border-bottom"></p>
                <p>&nbsp;</p>
                <p>Location</p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12420.408748316053!2d-77.04679729732024!3d38.898778459959225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7bcdecbb1df%3A0x715969d86d0b76bf!2sThe%20White%20House!5e0!3m2!1sen!2suk!4v1651433186630!5m2!1sen!2suk" width="100%"  height="100%" style="border:0; min-height:500px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p>Disclaimer<a href="images/quackers.jpg">:</a> This will be replaced with the actual location</p>
                <p>&nbsp;</p>
                <p class="border-bottom"></p>
            </div>
        </div>
    </div>
   {{>footer}}
</body>

</html>